body {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-size: 14px;
    line-height: 38px;
    text-align: center;
}

.main-header-top {
    min-width: 960px;
    background-color: #293449;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 940px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    margin: 0 auto;
}

.main-header-logo {
    width: 220px;
    padding: 9px 0;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    -webkit-box-shadow: 0 5px #b52933;
    box-shadow: 0 5px #b52933;
    background-color: #ee3643;
}

.main-header-logo:hover {
    background-color: #ca2c37;
}

.main-header-logo:active {
    background-color: #ba2732;
}

.search {
    position: relative;
}

.search::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 12px;
    left: 17px;
    background: url("../img/icon-search.svg") no-repeat;
    opacity: 0.3;
}

.search:hover::before {
    opacity: 1;
}

.search--focus {
    background-color: #ffffff;
}

.search--focus::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 12px;
    left: 17px;
    background: url("../img/icon-search-red.svg") no-repeat;
    opacity: 0.3;
}

.search input {
    padding-left: 50px;
    width: 270px;
    height: 42px;
    font-size: 17px;
    background-color: transparent;
    border: 0;
}

.search input::-webkit-input-placeholder {
    color: #ffffff;
}

.search input:-ms-input-placeholder {
    color: #ffffff;
}

.search input::-ms-input-placeholder {
    color: #ffffff;
}

.search input::placeholder {
    color: #ffffff;
}

.search div:hover {
    background-color: #212a3a;
}

.search input:focus {
    outline: 0;
    color: #000000;
    background-color: #ffffff;
}

.header-link {
    width: 150px;
    font-size: 17px;
    line-height: 42px;
    text-align: left;
    color: #ffffff;
    text-transform: none;
}

.header-link:hover {
    background-color: #212a3a;
}

.header-link:active {
    color: #8b8e94;
    background-color: #161d29;
}

.header-link--active {
    background-color: #ee3643;
}

.bookmarks {
    position: relative;
    width: 106px;
    padding-left: 44px;
}

.bookmarks::before {
    content: "";
    position: absolute;
    left: 17px;
    top: 13px;
    width: 14px;
    height: 16px;
    background: url("../img/icon-bookmark.svg") no-repeat;
    opacity: 0.3;
}

.bookmarks:hover::before {
    opacity: 1;
}

.bookmarks:active::before {
    opacity: 0.3;
}

.shopping-cart {
    position: relative;
    width: 100px;
    padding-left: 50px;
}

.shopping-cart::before {
    content: "";
    position: absolute;
    left: 17px;
    top: 12px;
    width: 15px;
    height: 15px;
    background: url("../img/cart-icon.svg") no-repeat;
    opacity: 0.3;
}

.shopping-cart:hover::before {
    opacity: 1;
}

.shopping-cart:active::before {
    opacity: 0.3;
}

.make-order {
    text-align: center;
    background-color: #63a63e;
}

.make-order:hover {
    background-color: #5fbb2d;
}

.make-order:active {
    color: #8b8e94;
    background-color: #518534;
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 960px;
    padding-bottom: 60px;
    background-image: url(../img/header-background.jpg);
    background-repeat: repeat;
    background-color: #f3f7f9;
}

.main-header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 890px;
    padding: 45px 10px 0 60px;
    margin-bottom: 44px;
    margin-right: auto;
    margin-left: auto;
}

.main-header-heading h1 {
    margin: 0;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
    color: #ee3643;
}

.main-header-contacts {
    width: 270px;
    margin-left: 71px;
}

.main-header-contacts p {
    margin: 0;
}

.phone {
    position: relative;
    padding: 9px 0;
    padding-left: 72px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid white;
}

.phone::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 11px;
    left: 13px;
    background: url("../img/icon-phone.svg") no-repeat;
}

.address {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: none;
    color: #32425c;
}

.user-navigation {
    margin-left: auto;
}

.user-navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    list-style: none;
}

.user-nav-button {
    padding: 10px 24px;
    font-size: 21px;
    line-height: 45px;
    text-transform: none;
    color: #000000;
    background-color: #ffffff;
}

.user-nav-button:hover {
    color: #ee3643;
}

.user-nav-button:active {
    color: #cacaca;
}

.login-link {
    position: relative;
    padding-left: 50px;
}

.login-link::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    top: 13px;
    left: 14px;
    background: url("../img/icon-login.svg") no-repeat;
    opacity: 0.3;
}

.login-link:hover::before {
    opacity: 1;
}

.login-link:active::before {
    opacity: 0.3;
}

.registration-link {
    margin-left: 10px;
}

.profile-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
}

.username {
    display: block;
    position: relative;
    padding-left: 49px;
    font-size: 21px;
    line-height: 45px;
    text-transform: none;
    color: #000000;
    background-color: #ffffff;
}

.username::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    top: 14px;
    left: 14px;
    background: url("../img/icon-user.svg") no-repeat;
    opacity: 0.3;
}

.username:hover::before {
    opacity: 1;
}

.username:active::before {
    opacity: 0.3;
}

.username:active {
    color: #cacaca;
}

.logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 21px;
    height: 17px;
    margin: 0 11px 0 34px;
    opacity: 0.3;
}

.logout:hover {
    opacity: 1;
}

.logout:active {
    opacity: 0.3;
}

.profile-list {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
}

.profile-list li:first-child {
    padding-left: 18px;
    padding-right: 15px;
}

.profile-list li:last-child {
    padding-left: 15px;
}

.dot {
    display: block;
    width: 1px;
    height: 1px;
    border: 2px solid #32425c;
    border-radius: 50%;
    background-color: #32425c;
}

.orders-link,
.profile-link {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    text-transform: none;
    color: #32425c;
}

.orders-link:hover,
	.profile-link:hover {
    color: #ee3643;
}

.orders-link:active,
	.profile-link:active {
    color: #cacaca;
}

.main-navigation {
    background-color: #32425c;
    width: 920px;
}

.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-list-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 17px;
    line-height: 17px;
    text-transform: none;
}

.navigation-list-item a {
    display: block;
    height: 38px;
    padding-top: 22px;
    text-align: center;
}

.navigation-list-item a:hover {
    background-color: #293449;
}

.navigation-list-item a:active {
    color: #a1a4a8;
    background-color: #1d2739;
}

.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 960px;
    margin-top: 59px;
}

.offers-cards {
    width: 940px;
    padding: 0 10px;
    margin-bottom: 53px;
}

.offers-first-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.offers-card {
    width: 278px;
    padding-left: 22px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.offers-card h3 {
    margin: 0;
    margin-bottom: 17px;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    text-transform: none;
}

.materials {
    position: relative;
    background-color: #ffbf47;
}

.materials::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    top: 31px;
    right: 43px;
    background: url("../img/bucket-icon.svg") no-repeat;
}

.materials::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    top: 0;
    right: 0;
    background: url("../img/new-flag.png") no-repeat;
}

.instruments {
    position: relative;
    background-color: #3bbce3;
}

.instruments::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    top: 31px;
    right: 29px;
    background: url("../img/drill-icon.svg") no-repeat;
}

.technic {
    position: relative;
    background-color: #dc91d8;
}

.technic::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    top: 31px;
    right: 30px;
    background: url("../img/tractor-icon.svg") no-repeat;
}

.card-button {
    display: inline-block;
    vertical-align: middle;
    width: 135px;
    background-color: rgba(0, 0, 0, 0.1)
}

.card-button:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.card-button:active {
    background-color: rgba(0, 0, 0, 0.3)
}

.offers-second-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.offers-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
}

.sale {
    position: relative;
    margin-top: 20px;
    background-color: #8ed78f;
}

.sale::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    top: 26px;
    right: 45px;
    background: url("../img/cart-big-icon.svg") no-repeat;
}

.delivery {
    position: relative;
    margin-top: 20px;
    background-color: #ffc047;
}

.delivery::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    top: 32px;
    right: 31px;
    background: url("../img/delivery-icon.svg") no-repeat;
}

.slider {
    position: relative;
    width: 620px;
    margin-top: 20px;
}

.slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding-top: 21px;
    padding-left: 26px;
    padding-bottom: 22px;
}

.slide b {
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
}

.slide p {
    margin: 5px 0 0;
    font: 18px/24px "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    text-transform: none;
    color: #ffffff;
}

.first-slide {
    background: url(../img/slider-illustration-1.jpg) no-repeat;
}

.second-slide {
    background: url(../img/slider-illustration-2.jpg) no-repeat;
}

.slide-button {
    display: inline-block;
    width: 100px;
    margin-top: auto;
    padding-right: 45px;
    padding-left: 50px;
    background-color: #ee3643;
    border-radius: 3px;
}

.slide-button:hover {
    background-color: #ca2c37;
}

.slide-button:active {
    background-color: #ba2732;
}

.slides-switches {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide-radio {
    position: absolute;
    width: 22px;
    height: 40px;
}

.slide-radio:first-child {
    top: 114px;
    left: 25px;
}

.slide-radio:last-child {
    top: 114px;
    right: 25px;
}

.slide-btn {
    border: 0;
    background-color: transparent;
}

.left-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 22px;
    height: 40px;
    background: url("../img/icon-left.svg") no-repeat;
}

.right-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 22px;
    height: 40px;
    background: url("../img/icon-right.svg") no-repeat;
}

.slide-pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-pagination__item button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.slide-pagination__item--active button {
    background-color: #ee3643;
}

.slide-pagination__item {
    position: absolute;
}

.slide-pagination__item:first-child {
    left: 295px;
    bottom: 36px;
}

.slide-pagination__item:last-child {
    right: 295px;
    bottom: 36px;
}

.popular-goods {
    width: 940px;
    padding: 0 10px;
    margin-bottom: 21px;
}

.popular-goods-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 888px;
    padding-left: 28px;
    padding-right: 24px;
    margin-bottom: 20px;
    background-color: #f9f5f0;
}

.popular-heading {
    margin: 0;
    padding: 30px 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
}

.popular-button {
    width: 253px;
    padding: 0;
    text-align: center;
    background-color: #ee3643;
}

.popular-button:hover {
    background-color: #ca2c37;
}

.popular-button:active {
    background-color: #ba2732;
}

.popular-goods__list,
.product-cards-list {
    list-style: none;
}

.popular-goods__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.popular-goods__item {
    position: relative;
    width: 220px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popular-goods__item,
.product-cards__item {
    border: 1px solid #e5e5e5;
}

.popular-goods__item:hover,
	.product-cards__item:hover {
    border: 0;
    -webkit-box-shadow: 0 5px 20px 5px rgba(41, 52, 73, 0.5);
    box-shadow: 0 5px 20px 5px rgba(41, 52, 73, 0.5);
}

.popular-goods__item img {
    width: 200px;
    height: 150px;
}

.card-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.good-heading {
    width: 80%;
    margin: 15px auto 0;
    font: 18px/20px "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    text-transform: none;
    text-align: center;
    color: #000000;
}

.old-price {
    margin: 8px auto;
    font: 17px/18px "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    text-decoration: line-through;
    text-align: center;
    color: #a9a9a9;
}

.new-price {
    position: relative;
    width: 141px;
    margin: 8px auto 21px;
    margin-top: auto;
    font: 17px/38px "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
}

.new-price::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0%;
    right: 0;
    border: 19px solid;
    border-left-color: #ee3643;
    border-right: 0;
}

.no-old-price {
    margin-top: 32px;
}

.popular-brands {
    width: 940px;
    padding: 0 10px;
    margin-bottom: 65px;
}

.popular-brands-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 888px;
    padding-left: 28px;
    padding-right: 24px;
    margin-bottom: 20px;
    background-color: #f9f5f0;
}

.all-brands-button {
    width: 253px;
    padding: 0;
    text-align: center;
    background-color: #ee3643;
}

.all-brands-button:hover {
    background-color: #ca2c37;
}

.all-brands-button:active {
    background-color: #ba2732;
}

.popular-brands__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-brands__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    width: 220px;
    height: 145px;
    border: 1px solid #e5e5e5;
}

.popular-brands__list li:hover {
    -webkit-box-shadow: 0 5px 20px 5px rgba(41, 52, 73, 0.5);
    box-shadow: 0 5px 20px 5px rgba(41, 52, 73, 0.5);
}

.popular-brands__list li:active {
    opacity: 0.3;
    -webkit-box-shadow: 0 5px 10px 2px rgba(41, 52, 73, 0.5);
    box-shadow: 0 5px 10px 2px rgba(41, 52, 73, 0.5);
}

.popular-brands__list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.service {
    width: 100%;
    margin-bottom: 77px;
    background: url("../img/header-background.png") repeat;
    background-color: #f3f7f9;
}

.service-container {
    position: relative;
    width: 940px;
    padding: 63px 10px 97px;
    margin: 0 auto;
}

.service-heading {
    margin: 0 0 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.service-container p {
    width: 400px;
    margin: 0 0 65px;
    font: 13px/24px "PT Sans", Arial, sans-serif;
    text-transform: none;
}

.service-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.service-slider p {
    margin: 0;
}

.service-list {
    width: 240px;
    margin: 0;
    margin-right: 80px;
    padding: 0;
    list-style: none;
}

.service-list:after {
    content: "";
    position: absolute;
    left: 240px;
    bottom: 50px;
    width: 10px;
    height: 272px;
    background: url("../img/service-shadow.png") no-repeat;
}

.service-list-item {
    padding: 15px 139px 16px 22px;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    text-transform: none;
    color: #ffffff;
    background-color: #32425c;
}

.service-list-item:first-child {
    border-bottom: 2px solid #4e637c;
}

.service-list-item:last-child {
    border-top: 2px solid #4e637c;
}

.service-list-item:hover {
    background-color: #293449;
}

.active {
    color: #32425c;
    background-color: #ffffff;
}

.active:hover {
    background-color: #ffffff;
}

.service-description {
}

.delivery-service {
    margin-bottom: 24px;
}

.delivery-service::after {
    content: "";
    position: absolute;
    width: 468px;
    height: 261px;
    bottom: 0;
    right: 0;
    background: url("../img/delivery.png") no-repeat;
}

.guarantee-service:after {
    content: "";
    position: absolute;
    width: 389px;
    height: 283px;
    bottom: 0;
    right: 0;
    background: url("../img/guarantee.png") no-repeat;
}

.credit-service:after {
    content: "";
    position: absolute;
    width: 465px;
    height: 285px;
    bottom: 0;
    right: 0;
    background: url("../img/credit.png") no-repeat;
}

.service-button {
    display: inline-block;
    margin-top: 28px;
    padding: 0 45px;
    background-color: #ff5357;
    border-radius: 3px;
}

.service-button:hover {
    background-color: #ca2c37;
}

.service-button:active {
    background-color: #ba2732;
}

.service h3 {
    margin: 0 0 24px;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    color: #32425c;
}

.service-description p {
    font: 13px/24px "PT Sans", Arial, sans-serif;
    text-transform: none;
}

.main-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 940px;
    padding: 0 10px;
    margin-bottom: 86px;
}

.about-company {
    width: 540px;
}

.about-company h2 {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.about-company p {
    margin-top: 30px;
    font: 13px/24px "PT Sans", Arial, sans-serif;
    text-transform: none;
}

.about-company-list {
    list-style: none;
    margin-bottom: 34px;
    padding-left: 36px;
}

.about-company-list li {
    position: relative;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
}

.about-company-list li:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    left: -36px;
    top: 8px;
    background-color: #ee3643;
}

.about-company__button {
    display: block;
    width: 220px;
    background-color: #ee3643;
    border-radius: 3px;
}

.about-company__button:hover {
    background-color: #ca2c37;
}

.about-company__button:active {
    background-color: #ba2732;
}

.contacts {
    width: 300px;
}

.contacts h2 {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.contacts p {
    margin: 30px 0;
    font: 13px/24px "PT Sans", Arial, sans-serif;
    text-transform: none;
}

.contacts img {
    margin-bottom: 28px;
}

.contacts__button {
    display: block;
    width: 300px;
    background-color: #ee3643;
    border-radius: 3px;
}

.contacts__button:hover {
    background-color: #ca2c37;
}

.contacts__button:active {
    background-color: #ba2732;
}

.main-footer {
    min-width: 960px;
}

.footer-top {
    background-color: #32425c;
    padding-bottom: 51px;
}

.top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 940px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 10px;
    margin: 0 auto;
}

.main-footer__logo {
    display: block;
    width: 220px;
    margin-bottom: 28px;
    text-align: center;
    font-size: 30px;
    line-height: 63px;
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px #b52933;
    box-shadow: 0 5px #b52933;
}

.footer-contacts {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    color: #ffffff
}

.footer-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    list-style: none;
}

.footer-company-nav {
    margin-top: 37px;
}

.footer-company-nav li {
    margin-left: 60px;
}

.footer-company-nav li:first-child {
    margin-left: 0;
}

.footer-goods-nav li {
    margin-left: 60px;
}

.footer-goods-nav li:first-child {
    margin-left: 0;
}

.footer-goods-nav a {
    color: #ffd180;
}

.footer-company-nav a:hover,
	.footer-goods-nav a:hover {
    text-decoration: underline;
}

.footer-company-nav a:active,
	.footer-goods-nav a:active {
	text-decoration: none;
    opacity: 0.5;
}

.footer-bottom {
    background-color: #293449;
}

.bottom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 940px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 10px 28px;
    margin: 0 auto;
}

.footer-copyright {
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    color: #ffffff;
}

.footer-social {
    margin-left: auto;
}

.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social li {
    margin-right: 5px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
}

.social-button:hover {
    background-color: #ee3643;
}

.footer-email {
    margin-left: 117px;
}

.footer-developer {
    margin-left: 52px;
    margin-right: 15px;
}

.footer-email b,
.footer-developer b {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    color: #ffffff;
}

.footer-email a,
.footer-developer a {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    color: #ffd180;
}

.footer-email a:hover,
	.footer-developer a:hover {
    text-decoration: underline;
}

.footer-email a:active,
	.footer-developer a:active {
    color: #ee3643;
}


/*страница каталога*/

.catalog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 960px;
    margin-top: 19px;
}

.catalog-container .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: start;
    align-self: flex-start;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 40px;
}

.breadcrumbs-item a {
    font: 13px/18px "PT Sans", Arial, sans-serif;
    color: #000000;
}

.breadcrumbs-item:first-child {
    width: 15px;
}

.breadcrumbs-item:first-child::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 12px;
    top: -8px;
    background: url("../img/icon-home.svg") no-repeat;
}

.breadcrumbs-item::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    top: 3px;
    right: -24px;
    background: url("../img/icon-right-small.svg") no-repeat;
}

.breadcrumbs-item:first-child::after {
    top: -7px;
}

.breadcrumbs-item:last-child::after {
    display: none;
}

.breadcrumbs-current a {
    font: 13px/18px "PT Sans", Arial, sans-serif;
    color: #000000;
}

.catalog-header {
    width: 100%;
    margin-bottom: 20px;
    background-color: #f2f6f8;
}

.catalog-header h2 {
    margin: 0;
    padding: 28px 0 30px 28px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
}

.wrapper {
    width: 940px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 60px;
}

.filters {
    width: 220px;
}

.filter-checkbox {
    margin-bottom: 17px;
}

.filter-checkbox:last-child {
    margin-bottom: 0;
}

.filter-checkbox__input {
    display: none;
}

.filter-checkbox__label {
    position: relative;
    padding-left: 34px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 15px/23px "PT Sans", Arial, sans-serif;
}

.filter-checkbox__label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    left: 0;
    top: 50%;
    margin-top: -11.5px;
    background: url("../img/checkbox-off-icon.svg") no-repeat;
    opacity: 0.2;
}

.filter-checkbox__label:hover::before {
    opacity: 0.3;
}

.filter-checkbox__input:checked + .filter-checkbox__label::before {
    background: url("../img/checkbox-on-icon.svg") no-repeat;
}

.filter-checkbox__input:disabled + .filter-checkbox__label {
    color: rgba(0, 0, 0, 0.4);
}

.filter-checkbox__input:disabled + .filter-checkbox__label::before {
    opacity: 0.1;
}

.filter-radio {
    margin-bottom: 16px;
}

.filter-radio:last-child {
    margin-bottom: 0;
}

.filter-radio__input {
    display: none;
}

.filter-radio__label {
    position: relative;
    padding-left: 34px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 15px/23px "PT Sans", Arial, sans-serif;
}

.filter-radio__label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 50%;
    margin-top: -11.5px;
    background: url("../img/radio-off-icon.svg") no-repeat;
    opacity: 0.2;
}

.filter-radio__label:hover::before {
    opacity: 0.3;
}

.filter-radio__input:checked + .filter-radio__label::before {
    background: url("../img/radio-on-icon.svg") no-repeat;
}

.filter-radio__input:disabled + .filter-radio__label {
    color: rgba(0, 0, 0, 0.4);
}

.filter-radio__input:disabled + .filter-radio__label::before {
    opacity: 0.1;
}

.filters h3 {
    margin: 0;
    margin-bottom: 17px;
    padding-left: 20px;
    font: 13px/38px "PT Sans", Arial, sans-serif;
    background-color: #f7f3ec;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.filter legend {
    margin-bottom: 17px;
    font: 17px/30px "PT Sans", Arial, sans-serif;
    font-weight: bold;
}

.filter .price-fieldset {
    margin-bottom: 17px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.range-block {
    display: flex;
    justify-content: center;
    width: 220px;
    margin-bottom: 9px;
    padding: 39px 0;
    background-color: #f7f3ec;
}

.range-block__line {
    position: relative;
    width: 180px;
    border-bottom: 2px solid #00ca74;
}

.range-block__line::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 23px;
    right: 0;
    top: -9px;
    background: url("../img/filter-button.svg") no-repeat;
}

.range-block__line::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 23px;
    left: 0;
    top: -9px;
    background: url("../img/filter-button.svg") no-repeat;
}

.price-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter input[type="text"] {
    width: 95px;
    font: 17px/36px "PT Sans", Arial, sans-serif;
    text-align: center;
    border: 0;
    background-color: #f7f3ec;
}

.filter .brand-fieldset {
    margin-bottom: 17px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.filter-brand-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-power-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-button {
    width: 140px;
    margin-top: 65px;
    font: 13px/34px "PT Sans", Arial, sans-serif;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: transparent;
}

.filter-button:hover {
    border-color: #bdc6ca;
}

.filter-button:active {
    border-color: #ee3643;
}

.right-column {
    width: 700px;
}

.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f7f3ec;
}

.sorting h3 {
    margin: 0;
    padding-left: 20px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 38px;
}

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting-list-item {
    margin-left: 70px;
}

.sorting-list-item a {
    font: 13px/38px "PT Sans", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.sorting-list-item a:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ee3643;
}

.sorting-list-item__active a {
    color: #ee3643;
    border-bottom: 0;
}

.sorting-list-indicator {
    width: 11px;
    margin: 0;
    margin-right: 21px;
    margin-left: 46px;
    opacity: 0.3;
}

.sorting-list-indicator a {
    border: 0;
}

.sorting-list-indicator a:hover {
    border: 0;
}

.sorting-list-indicator:last-child {
    margin-right: 14px;
    margin-left: 0;
}

.active-indicator {
    opacity: 1;
}

.active-indicator polygon {
    fill: #ee3643;
}

.product-cards {
    margin-bottom: 32px;
}

.product-cards-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.product-cards__item {
    position: relative;
    width: 220px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product-cards__item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 5;
}

.product-cards__item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.product-cards__item .actions,
.popular-goods__item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255, 1);
    z-index: 3;
}

.action-buy,
.action-bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
}

.action-buy:hover {
    background-color: #5fbb2d;
    border-color: #5fbb2d;
    border-bottom-color: #367315;
}

.action-buy:active {
    background-color: #518534;
    border-color: #518534;
}

.action-bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.action-bookmark:hover {
    border-color: #000000;
}

.action-bookmark:active {
    border-color: #000000;
    opacity: 0.3;
}

.product-cards__item .actions,
.popular-goods__item .actions {
    display: none;
}

.product-cards__item:hover .actions,
.popular-goods__item:hover .actions {
    display: block;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-item {
    width: 38px;
    margin-right: 10px;
}

.pagination-item a {
    display: block;
    font: 13px/38px "PT Sans", Arial, sans-serif;
    text-align: center;
    color: #000000;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination-item a:hover {
    border-color: #bdc6ca;
}

.pagination-item a:active {
    border-color: #ee3643;
}

.pagination-item-current a {
    color: #ffffff;
    border-color: #ee3643;
    background-color: #ee3643;
}

.pagination-item-next {
    width: auto;
}

.pagination-item-next a {
    padding: 0 30px;
}

.about-product {
    padding-bottom: 53px;
    background-color: #f2f6f8;
}

.about-product-container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.about-product h2 {
    margin-top: 63px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.about-product p {
    font: 13px/24px "PT Sans", Arial, sans-serif;
    text-transform: none;
}

/*Модальные окна*/

.modal {
    position: fixed;
}

.cart-add {
    display: none;
    z-index: 10;
    top: 420px;
    left: 50%;
    margin-left: -310px;
    width: 620px;
    padding-top: 63px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 -7px #ff5257,
    			0 5px 20px 5px rgba(41, 52, 73, 0.5);
    box-shadow: 0 -7px #ff5257,
    			0 5px 20px 5px rgba(41, 52, 73, 0.5);
}

.cart-add h2 {
    position: relative;
    margin-bottom: 62px;
    padding-left: 60px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    text-transform: none;
}

.cart-add h2:before {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    top: -18px;
    left: 80px;
    background: url("../img/checkmark-icon.svg") no-repeat;
}

.cart-add-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 37px 0;
    background-color: #f1f1f1;
}

.modal-order {
    width: 220px;
    line-height: 38px;
    background-color: #ee3643;
    margin-right: 20px;
}

.modal-order:hover {
    background-color: #ca2c37;
}

.modal-order:active {
    background-color: #ba2732;
}

.modal-continue {
    width: 220px;
    line-height: 38px;
    color: #000000;
    background-color: #ffffff;
}

.modal-continue:hover {
    color: #ee3643
}

.modal-continue:active {
    color: rgba(0, 0, 0, 0.3);
}

.modal-write-us {
    display: none;
    top: 300px;
    left: 50%;
    margin-left: -310px;
    width: 620px;
    margin-top: 50px;
    padding-top: 40px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 -7px #ff5257,
				0px 8px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -7px #ff5257,
				0px 8px 20px 0px rgba(0, 0, 0, 0.75);
}

.write-us-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.form-inputs {
    width: 460px;
    margin: 0 auto 37px;
}

.form-first-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 19px;
}

.write-us-form label {
    width: 220px;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
}

.write-us-form input,
.write-us-form textarea {
    margin-top: 8px;
    padding-left: 15px;
    font-size: 13px;
    line-height: 38px;
    color: #a9a9a9;
    border: 2px solid #dee3e4;
    background-color: transparent;
    outline: 0;
}

.write-us-form input:hover,
	.write-us-form textarea:hover {
    border-color: #b5b5b5;
}

.write-us-form input:focus,
	.write-us-form textarea:focus {
    border-color: #ee3643;
}

.write-us-form input[type="text"] {
    width: 201px;
}

.write-us-form input[type="email"] {
    width: 201px;
}

.write-us-form textarea {
    width: 439px;
}

.form-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 37px 0;
    background-color: #f4f4f4;
}

.write-us-button {
    width: 460px;
    margin: 0 auto;
    line-height: 36px;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border: 0;
}

.write-us-button:hover {
    background-color: #ca2c37;
}

.write-us-button:active {
    background-color: #ba2732;
}

.modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 9px;
    right: 9px;
    border: 0;
    background-color: transparent;
    background: url("../img/cross-icon.svg");
}

.modal-map {
    display: none;
    top: 300px;
    left: 50%;
    margin-left: -470px;
    max-width: 940px;
}

.modal-map img {
    width: 100%;
}

.modal-map .modal-close {
    top: 25px;
    right: 25px;
}

.modal-show {
    display: block;
}

.hidden {
    display: none;
}